// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  display: inline-block;
  margin: 20px;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Times New Roman";
  font-color: rgb(7,31,100);
  background-color: rgba(170, 253, 210, 1);
  border: 1px solid rgba(7, 120, 96, 1);
  border-radius: 0.75rem;
}
